<div class="card">
	<div class="card-body">
		<div class="mb-3 row">
			<div class="col-lg-8 col-xl-8">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="date_sale">Fecha de venta</label>
						<input type="text"  [(ngModel)]="date"  class="form-control" readonly>
					</div>
					<div class="form-group col-md-6">
						<label for="inputPassword4">Folio</label>
						<input type="text" [(ngModel)]="countSale"  class="form-control" readonly>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="name">Nombre del cliente</label>
						<input [(ngModel)]="client" type="text" class="form-control" [disabled]="readonly">
					</div>
					<div class="form-group col-md-4">
						<label for="product">Producto</label>
						<input type="text" class="form-control" 
						[(ngModel)]="product"
						[typeahead]="products"
						typeaheadOptionField="name"
						[disabled]="changeProductInput"
						(ngModelChange)="changeProduct($event)"
						>
					</div>
					<div class="form-group col-md-2">
						<label for="quantity">Cantidad</label>
						<input [(ngModel)]="quantity" type="number" min="1" max="99" (keyup)="quantityChanged()" class="form-control" [disabled]="readonly">
					</div>
				</div>
				<div class="text-right">
					<button type="submit" (click)="addProduct()" class="btn btn-primary" [disabled]="btnAddFroduct">
						<i class="fa fa-cart-plus"></i>
						Agregar producto
					</button>
				</div>
			</div>
			<div class="col-4 d-sm-none d-none d-xl-block d-lg-block">
				<div *ngIf="selectedProduct">
					<img  src="{{imgProduct}}" tooltip="${{selectedProduct.price}}" style=" 
					height: 245px;">
				</div>
			</div>
		</div>
		<div class="text-center table-responsive">
			<table class="table table-bordered card-table  table table-hover">
				<thead>
					<tr>
						<th scope="col">Item</th>
						<th scope="col">Nombre del producto</th>
						<th scope="col">Precio</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Importe</th>
						<th scope="col">Eliminar</th>
					</tr>
				</thead>
				<tbody *ngIf="data.length; else elseBlock">
					<tr *ngFor="let product of data; index as i" tooltip="Haz doble click para editar" (dblclick)="editSale(i)">
						<th scope="row">{{1+i}}</th>
						<td>{{product.name}}</td>
						<td>${{product.price}}</td>
						<td>{{product.quantity}}</td>
						<td>${{product.amount}}</td>
						<td>
							<button type="button" class="btn btn-danger"  (click)="deleteProductTemp(i)" tooltip="Eliminar producto" [disabled]="product.index != null">
								<i class="fa fa-minus"></i>
							</button>
						</td>
					</tr>
				</tbody>
				<ng-template #elseBlock>
					<tbody>
						<tr>
							<td colspan="6">Aun no se han agregado productos</td>
						</tr>
					</tbody>
				</ng-template>
			</table>
		</div>
		<div class="text-right mr-2">
			<div class="mb-2">
				<h4>Total:$ {{total}}</h4>
			</div>
			<div>
				<button type="button" class="btn btn-success" [disabled]="(!client) || (total == 0)" (click)="generateSale()">
					<i class="fa fa-shopping-cart mr-2"></i>
					Generar compra
				</button>
			</div>
		</div>
	</div>
</div>